<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-чат: Вход и Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/auth.css') }}">
</head>
<body>
    <div class="container center auth-box">
        <div class="auth">
            <div class="auth__tabs">
                <div class="auth__tab active" data-tab="login">Авторизация</div>
                <div class="auth__tab" data-tab="register">Регистрация</div>
            </div>
            <div class="auth__content">
                <form id="loginForm" class="auth__form active">
                    <p class="auth__field">
                        <label class="auth__label" for="loginEmail">Почта</label>
                        <input class="auth__input" id="loginEmail" type="email" placeholder="Email" required>
                    </p>
                    <p class="auth__field">
                        <label class="auth__label" for="loginPassword">Пароль</label>
                        <input class="auth__input" id="loginPassword" type="password" placeholder="Пароль" required>
                    </p>
                    <button class="auth__button" id="loginButton" type="submit">Войти</button>
                </form>
                <form id="registerForm" class="auth__form">
                    <p class="auth__field">
                        <label class="auth__label" for="registerEmail">Почта</label>
                        <input class="auth__input" id="registerEmail" type="email" placeholder="Email" required>
                    </p>
                    <p class="auth__field">
                        <label class="auth__label" for="registerName">Имя</label>
                        <input class="auth__input" id="registerName" type="text" placeholder="Имя" required>
                    </p>
                    <p class="auth__field">
                        <label class="auth__label" for="registerPassword">Пароль</label>
                        <input class="auth__input" id="registerPassword" type="password" placeholder="Пароль" required>
                    </p>
                    <p class="auth__field">
                        <label class="auth__label" for="registerPasswordAgain">Повторите пароль</label>
                        <input class="auth__input" id="registerPasswordAgain" type="password" placeholder="Повторите пароль" required>
                    </p>
                    <button class="auth__button" id="registerButton" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', path='js/auth.js') }}"></script>
</body>
</html>