<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-чат</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/chat.css') }}">
</head>
<body>
<div class="chat">
    <div class="chat__users" id="userList">
        <!-- Сначала выводим "Избранное" -->
        <div class="chat__user" data-user-id="{{ user.id }}">
            Избранное
        </div>
        <!-- Выводим остальных пользователей -->
        {% for chat in users_all %}
            {% if chat.id != user.id %}
                <div class="chat__user" data-user-id="{{ chat.id }}">
                    {{ chat.name }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat__area">
        <div class="chat__header" id="chatHeader">
            <span>Мини-чат</span>
            <button class="chat__button_logout" id="logoutButton" onclick="logout()">Выход</button>
        </div>
        <div class="chat__messages" id="messages">
            <div class="chat__message_welcome">Выберите чат для общения</div>
        </div>
        <div class="chat__input">
            <input type="text" id="messageInput" placeholder="Введите сообщение..." disabled>
            <button id="sendButton" disabled>Отправить</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', path='js/chat.js') }}"></script>
</body>
</html>